{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>test-page</title>
    <link rel="stylesheet" href="{% static 'testing/styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="holder">
        <h1>Mozilla is cool</h1>
        <img src="{% static 'testing/images/Mozilla_Firefox_logo_2013.png' %}"
             alt="Mozilla logo: an image of a fox wrapping Earth" />
        <p>At Mozilla, we're a global community of</p>
        <ul>
            <li>technologists</li>
            <li>thinkers</li>
            <li>builders</li>
        </ul>
        <p>working together to keep th Internet alive and accessible, so people worldwide can be
        informed contributors and creator of the Web. We believe this act of human collaboration
        across an open platform is essential to individual growth and our collective future.</p>
        <p>Read the <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/
        HTML_basics/finished-test-page-small.png">Mozilla Manifesto</a>
            to learn even more about the values and principles that guide the pursuit of our mission.</p>
    </div>
<button>change user</button>
<script src="{% static 'testing/scripts/main.js' %}"></script>
</body>
</html>